.header
{
    display: flex;
    justify-content: center;
}

.body
{

}

.form
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.button
{
    width: 100%;
    display: flex;
    justify-content: center;
}
