.NavBar
{
   display: flex !important;
   justify-content: space-between !important;

}

.logo 
{
   width: 200px;
   
}

.links
{
   display: flex;
   gap: 1.3rem;

}

.NavLink
{
   color: black;
   text-decoration: none;
}

.NavContent
{
   display: flex;
   gap: 20px;
   text-decoration: none;
}

.collapse 
{
   display: flex;
   justify-content: right;
}