.navbar
{
   display: flex;
   justify-content: space-around !important;
}

.logo 
{
   width: 200px;
}

.links
{
   display: flex;
   gap: 1.3rem;

}

.NavLink
{
   color: black;
   text-decoration: none;
}

